.signUp-page form {
    width: 100%;
    padding: 0;
    margin-top: 1rem;
}

.signUp-page a{
    text-decoration: none;
    color: rgba(46, 125, 50, 0.5);
    font-weight: 700;
    line-height: 32px;
}

.signUp-page a:hover{
    color: black;
}

.signUp-page .MuiContainer-root{
    padding-bottom: 80px;
}