.signUp-page form {
    width: 100%;
    padding: 0;
    margin-top: 1rem;
}

.signUp-page p{
    color: black;
}

.signUp-page a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    line-height: 32px;
}

.signUp-page a:hover{
    color: .8;
}

.signUp-page .MuiContainer-root{
    padding-bottom: 80px;
}