.login-page form {
    width: 100%;
    padding: 0;
    margin-top: 1rem;
}

.login-page a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    line-height: 32px;
}

.login-page a:hover{
    opacity: .8;
}

.login-page .MuiContainer-root{
    padding-bottom: 80px;
}