.product-detail-container{
    background-color: rgb(250, 250, 250);
}

.product-image{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}



@media (max-width: 769px) {
    .user-product-list{
        padding: 5%;
        justify-content: center !important;
    }
}
