.navBar {
    min-height: 45px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    box-sizing: border-box;
    z-index: 90;
}

.navBar nav {
    height: 100%;
}

.scroll .navBar{
    background-color: black;
}


.left-nav-container, .mobile-toggle-container{
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 631px) {
     .navBar{
        padding: 3% 5%;
     }
}



