.add-product-container{
    text-align: center;
    width: 444px;
    max-width: 100%;
    margin: 0 auto;
}

.add-product-container .btn{
    width: 100%;
}

@media (max-width: 769px) {
    .add-product-container{
        padding: 0 5%;
    }
}

