.hero-container{
    height: 100vh;
    position: relative;
    background-image: url("../../assets/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}




.hero-intro{
    text-align: center;
}


.hero-intro h4, .hero-intro h1{
    color: white;
}


@media (max-width: 550px) {
    .hero-intro{
        padding: 0 4%;
    }

    .hero-intro h1{
        line-height: 1.5;
    }

    .hero-intro h4{
        font-size: 14px;
    }
}